# macOS system files
.DS_Store

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
*.env

# Model and log files
*.pkl
*.log
output/
